.dashboard-wrapper {
    position: relative;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas:
      "header header header status"
      "main-chart main-chart main-chart references"
      "date total-waste diversion-waste brand";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: .3fr 2fr 1fr;
    gap: 2rem;
    padding: 3rem;
  
  }
  
  .header {
    grid-area: header;
    align-self: center;
  }
  
  .header .fa {
      margin: 0 1rem;
  }
  
  .status {
    grid-area: status;
    align-self: center;
    text-align: right;
  }
  
  .main-chart {
    grid-area: main-chart;
  }
  
  .main-chart img {
      width: 100%;
      vertical-align: middle;
  }
  
  .references {
    grid-area: references;
  }
  
  .references-list {
      display: flex;
      flex-direction: column;
      height: 100%;
      flex-basis: auto;
  }
  
  .reference {
      flex-grow: 1;
  }
  
  .date {
    grid-area: date;
    align-self: center;
  }
  
  .total-waste {
    grid-area: total-waste;
  }
  
  .diversion-waste {
    grid-area: diversion-waste;
  }

  .brand {
    grid-area: brand;
  }